body {
    background: #F3F9FC;
    padding-bottom: 50px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

#no-cards {
    visibility: hidden;
    margin-top: 100px;
}

#tinder-container {
    margin-top: 40px;
}

/* .card-one {
    margin-top: 20%;
}

.card-two {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
} */

.card-img-overlay {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%);
}

.btn-circle {
    background: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    /* adjust line height to align vertically*/
    padding: 0;
    border-radius: 50%;
    border: none;
    overflow: hidden;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 28px;
}

.alert-secondary {
    margin-top: 15px;
    border: none;
}

.btn-alert-close:focus {
    outline: none;
}

.btn-outline-light {
    font-size: 18px;
}

.card {
    border: none;
}

.card-title {
    font-size: 18px;
}

.card-subtitle {
    font-size: 14px;
}

.card-img-top {
    height: 490px;
}

#tinder {
    margin-top: 45px;
}

.tinder-card {
    /* overflow: hidden; */
    position: absolute;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    /* height: 800px; */
}

.tinder-buttons {
    padding-top: 420px;
}

#reset-button {
    background: #fd5068;
    color: white;
}

#reset-button:hover {
    background: #e2465b;
    color: white;
}
